<h2>List of celebrities:</h2>
{{#each celebrities}}
  <a href="/celebrities/{{this.id}}">{{this.name}}</a>
  <form method="POST" action="/celebrities/{{this.id}}/delete">
    <input type="submit" value="Delete">
  </form>
  <form method="get" action="/celebrities/{{this.id}}/edit">
    <input type="submit" value="Edit">
  </form>
{{/each}}
<form action="/celebrities/new">
  <input type="submit" value="Add new Celebrity!">
</form>