<h2>Celebrities</h2>
<div class="container">
  {{#each celebrities}}
    <div class="">
      <a class="row" href="/celebrities/{{this.id}}">{{this.name}}</a>
      <div class="row">
        <a class="btn btn-secondary" href="/celebrities/{{this.id}}/edit">Edit</a>
        <form action="/celebrities/{{this.id}}/delete" method="post">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  {{/each}}
  <a class="btn btn-success" href="/celebrities/new">Add</a>
</div>
