<h2>Adding a celebrity:</h2>
<form method="POST" action="/celebrities/new" autocomplete="off">
  Name => <input name="name" type="text">
  Occupation => <input name="occupation" type="text">
  Catch phrase => <input name="catchPhrase" type="text">
  <input type="submit" value="Add celebrity!">
</form>