<div class="card">
  <div class="card-header">
    <h4>{{this.name}}</h4>
  </div>
  <div class="card-body">
    <h6 class="card-title">Occupation:</h6>
    <p class="card-text">{{this.occupation}}</p>
    <h6 class="card-title">Catch Phrase:</h6>
    <p class="card-text">{{this.catchPhrase}}</p>
  </div>
</div>