<h1>{{title}}</h1>
<div class="row mt-4 pt-4">
  <div class="col-6">
  <div class="card">
    <img src="https://media.giphy.com/media/LkTavXXGndj1BbaUXG/giphy.gif" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">See Movies</h5>
      <p class="card-text">Some random Movies</p>
      <a href="/movies" class="btn btn-primary">Let go!</a>
    </div>
  </div>
  </div>
  <div class="col-6">
  <div class="card">
    <img src="https://media.giphy.com/media/j2MiuvFOw6Fby3L2LO/giphy.gif" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">See Celebrities</h5>
      <p class="card-text">Some random Celebrities</p>
      <a href="/celebrities" class="btn btn-primary">Let go!</a>
    </div>
  </div>
  </div>
</div>