<h2>List of movies:</h2>
{{#each movies}}
  <a href="/movies/{{this.id}}">{{this.title}}</a>
  <form method="POST" action="/movies/{{this.id}}/delete">
    <input type="submit" value="Delete">
  </form>
  <form method="get" action="/movies/{{this.id}}/edit">
    <input type="submit" value="Edit">
  </form>
{{/each}}
<form action="/movies/new">
  <input type="submit" value="Add new Celebrity!">
</form>