<h2>New Movie</h2>
<form action="/movies/new" method="post">
  <label for="name">Title</label>
  <input type="text" class="form-control" name="title" id="title" value="Enter a title">
  <label for="name">Genre</label>
  <input type="text" class="form-control" name="genre" id="genre" value="Enter an genre">
  <label for="name">Plot</label>
  <input type="text" class="form-control" name="plot" id="plot" value="Enter a plot">
  <button class="btn btn-success" type="submit">Submit</button>
</form>
