<h2>Adding a movie:</h2>
<form method="POST" action="/movies/new" autocomplete="off">
  Title => <input name="title" type="text">
  Genre => <input name="genre" type="text">
  Plot => <input name="plot" type="text">
  <input type="submit" value="Add movie!">
</form>