<div class="card">
  <div class="card-header">
    <h4>{{this.title}}</h4>
  </div>
  <div class="card-body">
    <h6 class="card-title">Genre:</h6>
    <p class="card-text">{{this.genre}}</p>

    <h6 class="card-title">Plot:</h6>
    <p class="card-text">{{this.plot}}</p>

    <h6 class="card-title">Celebrity:</h6>
    <p class="card-text">{{this.celebrity.[0].name}}</p>
  </div>
</div>